<%- include('partials/header')-%>

<h2>Change Password</h2>

<form action="/user/changePassword" method="post">
  <div class="form-group">
    <label for="currentPass"> Current Password</label>
    <input name="currentPass" type="password" class="form-control" id="currentPass">
  </div>
  <div class="form-group">
    <label for="newPass"> New Password</label>
    <input name="newPass" type="password" class="form-control" id="newPass">
  </div>
  <div class="form-group">
    <label for="repeatNewPass">Repeat New Password</label>
    <input name="repeatNewPass" type="password" class="form-control" id="repeatNewPass">
  </div>
  <button type="submit" id="submitNewPass" class="btn btn-primary" disabled>Change Password</button>
</form>

<script>
  const newPass       = document.getElementById('newPass');
  const repeatNewPass = document.getElementById('repeatNewPass')
  const button        = document.getElementById('submitNewPass')

  repeatNewPass.addEventListener('input', validatePass);
  newPass.addEventListener('input', validatePass);

  function validatePass(e) {
    console.log(`new pass: ${newPass.value} 2nd time: ${repeatNewPass.value}`)
    if (newPass.value == repeatNewPass.value) {
      button.disabled = false
      repeatNewPass.classList.remove('is-invalid')
      repeatNewPass.classList.add('is-valid')
    } else {
      button.disabled = true
      repeatNewPass.classList.remove('is-valid')
      repeatNewPass.classList.add('is-invalid')
    }
  }

</script>

<%- include('partials/footer')-%>